# Ignore node_modules in the frontend folder
Frontend/node_modules

# Ignore .env files
.env

# Ignore log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore directories related to builds and cache
tmp/
cache/
public

# Ignore the node modules
node_modules